extends ../layout

block content
  h2 Edição de Usuário

  form(method='POST' action='/usuarios/update/' + model._id)
    div.form-group
        label(for='nome') Nome:
        input#nome.form-control(type='text', placeholder='Seu Nome' name='nome' value= model.nome)
    div.form-group
        label(for='sobrenome') Sobrenome:
        input#sobrenome.form-control(type='text', placeholder='Seu Sobrenome' name='sobrenome' value= model.sobrenome)
    
    a.btn.btn-danger.mr-1(href='/usuarios') Voltar
    
    button.btn.btn-primary(type='submit') Salvar