extends ../layout

block content
    table
        tr
            th Nome
            th Sobrenome
            th 
        each usuario in usuarios
            tr
                td #{usuario.nome}
                td #{usuario.sobrenome}
                td 
                    a(href='/usuarios/' + usuario.id) Editar

    a(href='/usuarios/create') Novo Usuário
