extends ../layout

block content
    table
        tr
            th Nome
            th Sobrenome
            th 
        each usuario in model
            tr
                td #{usuario.nome}
                td #{usuario.sobrenome}
                td 
                    a(href='/usuarios/edit/' + usuario._id) Editar
                    |  | 
                    a(href='/usuarios/delete/' + usuario._id) Excluir

    a(href='/usuarios/create') Novo Usuário
